<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" href="#" (click)="afficherSideBar()">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
